@import '/src/css/all.scss';

.pageHeader {
	@extend %page-header;
	margin-bottom: 2rem;
}

.articleList {
	list-style-type: none;
}
.article {
	@include desktop {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}
}
.articleImage {
	grid-column: 1 / 3;
}
.articleInfo {
	grid-column: 4 / 8;
}
.tags label {
	@extend %visually-hidden;
}
.tags ul {
	list-style-type: none;
	margin: 1rem 0 0;
	padding: 0;
	li {
		display: inline;
		a,
		span {
			text-decoration: none;
		}
	}
	span {
		margin: 0 0.25rem;
	}
	li:last-of-type span {
		display: none;
	}
}
