@import "./case-studies.module.scss";

%hover {
  cursor: pointer;
  background-color: $bs-blue;
  border-color: $bs-blue;
  color: #fff;
}

.caseStudiesWithFilter {
  margin-top: 6.75rem;
}
.filterHeader {
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.filterCaseStudiesForm {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  margin-bottom: 2.5rem;
  transform: translateY(-100%);
  transition: 0.4s ease-in-out;

  h2 {
    display: none;
  }

  &.showAllFilters {
    transform: translateY(0);
  }

//   &.showFilterHeaders {
//     display: block;

//     h2 {
//       display: block;
//     }

//     .articleFilters {
//         display: flex;
//         flex-wrap: wrap;
//     }
//   }
}

.articleList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.3125rem;
  list-style-type: none;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
  }
}

.articleTitle {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;

  a:hover {
    color: $bs-blue;
  }
}

.articleCopy {
  font-weight: 300;
  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    & + * {
      display: none;
    }
  }
}

.articleFilters {
  .filterResultsBtn {
    @include ctaButton;

    background-color: transparent;
    border-color: $bs-blue;
    color: $bs-blue;
    margin: 1.5rem 0;

    span::after {
      content: " ↓";
    }

    &:hover {
      @extend %hover;
    }
  }

  .filters {
    display: flex;
    gap: 0.625rem;

    button {
      background-color: transparent;
      border: 0.0625rem solid $grey;
      padding: 0.625rem;

      &:hover,
      &.active {
        @extend %hover;
      }
    }
  }
}
