@import 'src/css/all.scss';

.sectionStudies {
	background-color: $bs-blue;
	color: white;
	padding-bottom: 6.25rem;
	padding-top: 10.625rem;
	margin-bottom: 0;
	margin-top: 0;
	h2 {
		margin-top: 0;
	}

	.sectionHeading {
		@include display-med;
		margin-bottom: 4rem;
	}
	.gridStudies {
		& > div {
			margin-bottom: 4.375rem;
		}
		@include desktop {
			display: grid;
			gap: 4.375rem;
			grid-template-columns: 1fr 1fr 1fr;
			justify-content: center;
			align-items: start;
		}
	}
	.study {
		margin-bottom: 6rem;
		grid-column: span 4;
	}
	.studyTitle {
		font-size: 1.25rem;
		font-weight: 500;
		a {
			color: white;
			text-decoration: none;
		}
	}
	.cta {
		@include ctaButton;
		border: 1px solid rgba(255, 255, 255, 0.5);
		color: white;
	}
}
