@import 'src/css/all.scss';

.contactForm {
	background-color: #424244;
	padding-bottom: 6.25rem;
	padding-top: 10.625rem;
	margin-bottom: 0;
	margin-top: 0;
	@include desktop {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}
}

.formHeading {
	h2 {
		@include display-med;
		color: white;
		margin-top: 0;
	}
	span {
		color: rgba(151, 151, 151, 1);
		font-size: 2rem;
		font-weight: 400;
	}
	@include desktop {
		grid-column: 1 / 5;
	}
}

form {
	box-sizing: border-box;
	@include desktop {
		grid-column: 7 / 13;
	}
}

.formGroup {
	margin-top: 40px;
	height: 50px;
	position: relative;
	width: 100%;
}

.msg {
	color: white;
	margin-top: 40px;
}

input {
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-width: 0 0 1px 0;
	box-sizing: border-box;
	color: #fff;
	font-size: 1rem;
	height: 100%;
	outline: 0;
	padding: 4px 0;
	width: 100%;
}

input:focus,
input:not(:placeholder-shown) {
	transform: translateY(8px);
}

.placeholder {
	color: #fff;
	font-family: sans-serif;
	left: 0;
	line-height: 14px;
	pointer-events: none;
	position: absolute;
	transform-origin: 0 50%;
	transition: transform 200ms, color 200ms;
	top: 20px;
}

input:focus ~ .placeholder,
input:not(:placeholder-shown) ~ .placeholder {
	transform: translateY(-30px) translateX(10px) scale(0.75);
}

input:not(:placeholder-shown) ~ .placeholder {
	color: #808097;
}

input:focus ~ .placeholder {
	color: #ddd;
}

textarea {
	background-color: rgba(255, 255, 255, 0.3);
	border: 0;
	border-radius: 5px;
	box-sizing: border-box;
	display: block;
	color: #fff;
	font-family: 'DMSans';
	font-size: 1rem;
	height: 350px;
	margin-top: 10px;
	padding: 8px;
	width: 100%;
}

.submit {
	background-color: transparent;
	border-radius: 45px;
	border: 2px solid rgba(255, 255, 255, 0.5);
	display: inline-block;
	color: #fff;
	cursor: pointer;
	font-size: 22px;
	font-weight: 500;
	letter-spacing: -1;
	line-height: 62px;
	margin-top: 48px;
	padding: 0 30px;
	text-align: center;
}

.submit:active {
	background-color: rgba(255, 255, 255, 0.3);
}

.hiddenField {
	display: none;
}
