@import 'src/css/all.scss';

footer {
	background-color: black;
	color: white;
	font-family: 'DMSans';
	padding: 50px 18px;

	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	ul.mainNav {
		margin: 0;
		padding: 0;
		li {
			font-size: 2rem;
			font-weight: 700;
			list-style-type: none;
			margin-bottom: 3rem;
		}
	}
}

.jobOpenings {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	a {
		text-decoration: underline;
		&:before {
			content: '→';
		}
	}
}

.secondaryNav {
	padding-top: 3rem;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		margin-bottom: 1.875rem;
	}
}

.copyright {
	padding-top: 3rem;
}
