@import '/src/css/all.scss';

.footerBadges {
	ul {
		list-style-type: none;
		padding-left: 0;
	}
	li {
		display: inline;
		margin-right: 1.5rem;
	}
	@include desktop {
		grid-column: 8 / 13;
		grid-row: 1;
	}
}
.logosHeading {
	@extend %visually-hidden;
}

.logo img,
.logo svg {
	height: 56px !important;
	width: 56px !important;
}
