@import '/src/css/all.scss';

.footerBadges {
	ul {
		list-style-type: none;
		padding-left: 0;
	}
	li {
		display: inline;
		margin-right: 1.5rem;
	}
}
.logosHeading {
	@extend %visually-hidden;
}

.logo img,
.logo svg {
	height: 56px;
	width: 56px;
}
