@import '/src/css/all.scss';

// layout for the grid section
.selectClients,
.technologies {
	// h3 is only present for screen readers
	h3 {
		@extend %visually-hidden;
	}
	.gridIntro {
		margin-bottom: 3rem;
	}

	@include desktop {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		.gridHeading {
			grid-column: 1 / 6;
			margin-top: 0;
		}
		.gridIntro {
			grid-column: 7 / 13;
			p {
				font-size: 1.25rem;
				line-height: 1.625rem;
				margin-top: 0;
			}
		}
		.grid {
			grid-column: 1 / 13;
		}
	}
}

// layout for the actual grid (icons/logos)
.grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	@include tablet {
		grid-template-columns: 1fr 1fr 1fr;
	}
	@include desktop {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	div {
		display: grid;
		align-items: center;
		justify-content: center;
		svg {
			width: 120px;
		}
	}
}
