@import '/src/css/all.scss';

.grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	@include tablet {
		grid-template-columns: 1fr 1fr 1fr;
	}
	@include desktop {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	div {
		display: grid;
		align-items: center;
		justify-content: center;
		svg {
			width: 120px;
		}
	}
}

.intro {
	margin-bottom: 3rem;
}

.selectClients,
.technologies {
	h3 {
		@extend %visually-hidden;
	}
	@include desktop {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		.gridInfo {
			grid-column: 1 / 5;
		}
		.grid {
			grid-column: 6 / 13;
		}
	}
}
