@import 'src/css/all.scss';

header {
	@extend %global-layout;
	font-family: 'West';
	grid-template-columns: repeat(3, 1fr);

	li {
		list-style-type: none;
	}
}
.logo {
	grid-column: 1 / 3;
	text-decoration: none;
	@include tablet-and-desktop {
		grid-column: 1 / 4;
	}
}
.logoType {
	color: black;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.375rem;
	text-transform: uppercase;
	@include tablet-and-desktop {
		font-size: 2rem;
		font-weight: 800;
		line-height: 2rem;
	}
}
.logoTagline {
	color: #767676; /** updated for a11y **/
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5rem;
}

nav.primaryNav {
	grid-column: 3;
	text-transform: uppercase;
	ul {
		display: flex;
		align-items: center;
		margin: 0;
	}
	a {
		color: black;
		font-weight: 500;
		text-decoration: none;
	}
	@include tablet-and-desktop {
		grid-column: 6 / 13;
		li {
			display: inline;
			margin-left: 3rem;
		}
	}
}

.toggle {
	display: none;
	height: 100%;
	cursor: pointer;
	padding: 0;
	align-self: center;
	justify-self: end;

	@media (max-width: 768px) {
		display: flex;
		grid-column: 3;
		grid-row: 1;
	}
}

.toggleIcon {
	background-color: black;
	width: 30px;
	height: 3px;
	transition: all 0.3s linear;
	align-self: center;
	position: relative;
	transform: inherit;
	&.toggleIconOpen {
		transform: rotate(-45deg);
	}

	&:before,
	&:after {
		width: 30px;
		height: 3px;
		background-color: black;
		content: '';
		position: absolute;
		transition: all 0.3s linear;
	}

	&:before {
		transform: rotate(0deg);

		top: -10px;
	}
	&.toggleIconOpen:before {
		transform: rotate(-90deg) translate(-10px, 0px);
	}

	&:after {
		opacity: 1;
		transform: rotate(0deg);
		top: 10px;
	}
	&.toggleIconOpen:after {
		opacity: 0;
		transform: rotate(90deg);
	}
}

.navbox {
	display: flex;
	height: 100%;
	justify-content: flex-end;
	li a:hover {
		color: $bs-green;
		text-decoration: underline;
	}

	@media (max-width: 768px) {
		background-color: white;
		flex-direction: column;
		position: fixed;
		height: calc(100% - 10vh);
		width: 100%;
		justify-content: flex-start;
		padding-top: 0 0 0 10vh;
		transition: all 0.3s ease-in;
		top: 100px;
		left: -100%;
		z-index: 10;
		&.navboxOpen {
			left: 0;
			ul {
				display: block;
				padding-left: 1rem;
			}
			li {
				font-size: 1.5rem;
				margin-top: 2.5rem;
				text-transform: capitalize;
			}
		}
	}
}
