@import 'src/css/all.scss';

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'West';
	padding: 0.875rem 1.25rem;

	@include tablet-and-desktop {
		padding: 1.6875rem 7.75rem;
	}
	li {
		list-style-type: none;
	}
}
.logo {
	text-decoration: none;
}
.logoType {
	color: black;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.375rem;
	text-transform: uppercase;
	@include tablet-and-desktop {
		font-size: 2rem;
		font-weight: 800;
		line-height: 2rem;
	}
}
.logoTagline {
	color: rgba(0, 0, 0, 0.3);
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5rem;
}

nav.primaryNav {
	text-transform: uppercase;
	a {
		color: black;
		font-weight: 500;
		text-decoration: none;
	}
}
