@import 'src/css/all.scss';

body {
	margin: 0;
}

main {
	background: #fff;
	font-family: 'DMSans';
	// font-size: clamp(1rem, 2vw, 1.5rem);
	line-height: 1.4;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

section,
article,
footer {
	@include defaultPadding;
}

a {
	color: black;
}

section p {
	font-size: 1.125rem;
	line-height: 1.5rem;
}
