@import 'src/css/all.scss';

body {
	margin: 0;
}

main {
	background: #fff;
	font-family: 'DMSans';
	// font-size: clamp(1rem, 2vw, 1.5rem);
	line-height: 1.4;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

section,
article {
	@include defaultPadding;
	p {
		max-width: 820px;
	}
}

section > h2 {
	margin-top: 0;
}

a {
	color: black;
}
