@import 'src/css/all.scss';

.newsSection {
	background-color: #9743ff;
	color: white;
	h2 {
		@extend %section-title;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		padding-bottom: 2rem;
	}
	h3 {
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1.9375rem;
		margin: 0.625rem 0 0.75rem;
		a {
			color: white;
			text-decoration: none;
		}
	}
	.articleList {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.article {
		margin-bottom: 3rem;
	}
	.published {
		color: #fdfcff; /** updated for a11y **/
		margin: 1rem 0 1.5625rem;
	}

	// .tags label {
	// 	@extend %visually-hidden;
	// }
	// .tags ul {
	// 	list-style-type: none;
	// 	margin: 1.5625rem 0 0;
	// 	padding: 0;
	// 	li {
	// 		display: inline;
	// 		a,
	// 		span {
	// 			color: #fdfcff; /** updated for a11y **/
	// 			text-decoration: none;
	// 		}
	// 	}
	// 	span {
	// 		margin: 0 0.25rem;
	// 	}
	// 	li:last-of-type span {
	// 		display: none;
	// 	}
	// }
	@include tablet-and-desktop {
		.articleList {
			display: grid;
			gap: 4.375rem;
			grid-template-columns: 1fr 1fr 1fr;
		}
		.article {
			margin-bottom: 0;
		}
	}
}

.cta {
	@include ctaButton;
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: white;
}
