@import 'src/css/all.scss';

.newsSection {
	background-color: #9743ff;
	color: white;
	h2 {
		@extend %sectionHeading;
	}
	h3 {
		margin-bottom: 0;
		a {
			color: white;
			text-decoration: none;
		}
	}
	.article {
		margin-bottom: 3rem;
	}
	.published {
		color: rgba($color: #ffffff, $alpha: 0.5);
		margin: 1rem 0;
	}

	.intro p {
		margin-top: 0.25rem;
	}

	.tags label {
		@extend %visually-hidden;
	}
	.tags ul {
		list-style-type: none;
		margin: 1rem 0 0;
		padding: 0;
		li {
			display: inline;
			a,
			span {
				color: rgba($color: #ffffff, $alpha: 0.5);
				text-decoration: none;
			}
		}
		span {
			margin: 0 0.25rem;
		}
		li:last-of-type span {
			display: none;
		}
	}
	@include tablet {
		.articleList {
			display: grid;
			gap: 1rem;
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}
