@import 'src/css/all.scss';

.outcomes {
	@include defaultPadding;
	& > div:last-of-type {
		display: flex;
		flex-direction: column;
		align-items: center;

		@include tablet-and-desktop {
			flex-direction: row;
			justify-content: space-around;
		}
		div {
			background-color: $bs-blue;
			border-radius: 50%;
			color: white;
			font-family: 'West';
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			height: 200px;
			width: 200px;
			margin-top: 100px;
			padding: 2rem;
			p {
				margin: 0;
			}
			b {
				font-size: 57px;
				font-weight: 500;
			}
		}
	}
	.sectionHeading {
		color: $bs-blue;
		font-size: 1.125rem;
	}

	@include desktop {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		& > div {
			width: calc(50% - 35px);
		}
	}
}
