@import 'src/css/all.scss';

.sectionHeading + p {
	margin-bottom: 4rem;
}
.articleHeading {
	margin-bottom: 0;
	a {
		color: black;
		text-decoration: none;
	}
	& + p {
		margin-top: 0.25rem;
	}
}

.gradgreenblue {
	background: linear-gradient(
		180deg,
		#3dc55d 30.01%,
		#39c166 46.26%,
		#008cf1 58.72%
	);
	color: white;
	@include tablet-and-desktop {
		background: linear-gradient(91.06deg, #3dc55d 38.38%, #008cf1 70.07%);
	}
	& > div {
		margin-bottom: 8rem;
	}
	ul {
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-collapse: collapse;
		a {
			color: white;
			display: flex;
			font-size: 18px;
			justify-content: space-between;
			text-decoration: none;
			&::after {
				content: '→';
				border: 1px solid white;
				border-radius: 50%;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				height: 23px;
				width: 25px;
				margin-left: 4px;
				padding-top: 2px;
			}
		}
	}
}

.intro {
	margin-bottom: 4rem;
}
