@import 'src/css/all.scss';

.sectionHeading {
	@include display-med;
	margin-top: 0;

	& + p {
		margin-bottom: 4rem;
	}
}

// applies to all section content

.sectionContent {
	h2 {
		@include display-med;
	}
	@include desktop {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		& > div {
			width: calc(50% - 35px);
		}
		&.reverse {
			flex-direction: row-reverse;
		}
	}
}

.sectionContent .intro p {
	margin-top: 0;
}

.intro {
	margin-bottom: 4rem;
	h2 {
		margin-top: 0;
	}
}

// Individual components //

.gradgreenblue {
	background: linear-gradient(
		180deg,
		#3dc55d 30.01%,
		#39c166 46.26%,
		#008cf1 58.72%
	);
	color: white;
	padding-bottom: 6.25rem;
	padding-top: 10.625rem;
	margin-bottom: 0;
	margin-top: 0;
	@include desktop {
		background: linear-gradient(91.06deg, #3dc55d 38.38%, #008cf1 70.07%);
	}
	h2 {
		@include display-med;
		margin-top: 0;
	}
	.intro > p {
		font-size: 1.125rem;
		line-height: 1.4375rem;
		margin-bottom: 3rem;
	}
	.intro li {
		font-size: 1.125rem;
		line-height: 1.4375rem;
	}
	.sectionContent {
		@include desktop {
			display: flex;
			justify-content: space-between;
			& > div {
				max-width: 45%;
			}
			.intro p {
				font-size: 20px;
				line-height: 26px;
			}
		}
		& > div {
			margin-bottom: 8rem;
		}
		ul {
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		li {
			border-top: 1px solid rgba(255, 255, 255, 0.3);
			border-collapse: collapse;
			a {
				color: white;
				display: flex;
				font-size: 18px;
				justify-content: space-between;
				text-decoration: none;
				&::after {
					content: '→';
					border: 1px solid white;
					border-radius: 50%;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					height: 23px;
					width: 25px;
					margin-left: 4px;
					padding-top: 2px;
				}
			}
		}
	}
}

.ourTeam,
.hiring {
	background-color: $grey-light;
}

.benefits {
	background-color: black;
	color: white;
}

.contactEmail .sectionContent {
	h2 {
		@include display-med;
	}
	p {
		margin: 0;
	}
	& > div {
		margin-bottom: 5rem;
	}
	@include desktop {
		display: grid;
		gap: 0 1rem;
		grid-template-columns: repeat(3, 1fr);
	}
}

.postalAddress .sectionContent {
	h2 {
		@include display-med;
		margin-top: 0.5rem;
	}
	p {
		margin: 0;
	}
	@include desktop {
		display: grid;
		gap: 0 1rem;
		grid-template-columns: repeat(12, 1fr);
		align-items: center;
		& > :first-of-type {
			grid-column: 1 / 5;
			width: calc(100% - 54px);
		}
		& > :last-of-type {
			grid-column: 5 / 13;
		}
	}
}

.csChallenge .sectionContent {
	h2 {
		color: $bs-blue;
		font-size: 1rem;
		font-weight: 500;
		letter-spacing: 1px;
		margin: 0;
	}
	& > div:first-of-type p {
		font-family: 'West';
		font-size: 2.125rem;
		line-height: 2.8125rem;
		margin: 0;
		@include desktop {
			font-size: 3.5625rem;
			line-height: 4.6875rem;
		}
	}
	// @include desktop {
	// 	display: grid;
	// 	gap: 0 1rem;
	// 	grid-template-columns: repeat(12, 1fr);
	// 	h2 {
	// 		grid-column: 1/12;
	// 		grid-row: 1;
	// 	}
	// 	& > div:first-of-type {
	// 		grid-column: 1/7;
	// 		grid-row: 2;
	// 		letter-spacing: 1px;
	// 	}
	// 	& > div:last-of-type {
	// 		grid-column: 8/13;
	// 		grid-row: 2;
	// 	}
	// }
}

.csSolution {
	background-color: $bs-blue;
	color: white;
	padding-bottom: 6.25rem;
	padding-top: 10.625rem;
	margin-bottom: 0;
	margin-top: 0;
	.sectionContent {
		h2 {
			color: rgba(0, 0, 0, 0.6);
			font-family: 'DMSans';
			font-size: 1.125rem;
			font-weight: 500;
		}
		h3 {
			color: white;
			font-family: 'West';
			font-size: 3.5625rem;
			font-weight: 500;
			line-height: 4.6875rem;
			margin: 0;
			@include desktop {
				font-size: 46px;
				line-height: 52px;
			}
		}
		// @include desktop {
		// 	display: grid;
		// 	gap: 1rem;
		// 	grid-template-columns: repeat(12, 1fr);

		// 	& > div:first-of-type {
		// 		grid-column: 1/6;
		// 		grid-row: 1;
		// 	}
		// 	& > div:last-of-type {
		// 		grid-column: 7/13;
		// 		grid-row: 1;
		// 	}
		// }
	}
}
