@import 'src/css/all.scss';

.sectionHeading,
.sectionContent h2 {
	@extend %sectionHeading;

	& + p {
		margin-bottom: 4rem;
	}
}
// .articleHeading {
// 	margin: 30px 0 0;
// 	a {
// 		color: black;
// 		text-decoration: none;
// 	}
// 	& + p {
// 		margin-top: 0.25rem;
// 	}
// }

.imgLeft {
	@include tablet-and-desktop {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(12, 1fr);

		& > div:first-of-type {
			grid-column: 1 / 7;
		}

		& > div:last-of-type {
			grid-column: 8 / 13;
		}
	}
}

// applies to all section content
.sectionContent .intro p {
	margin-top: 0;
}

.gradgreenblue {
	background: linear-gradient(
		180deg,
		#3dc55d 30.01%,
		#39c166 46.26%,
		#008cf1 58.72%
	);
	color: white;
	.intro h2 {
		font-size: 2.25rem;
		font-weight: 700;
		line-height: 3.875rem;
	}
	.intro > p {
		font-size: 1.125rem;
		line-height: 1.4375rem;
		margin-bottom: 3rem;
	}
	.intro li {
		font-size: 1.125rem;
		line-height: 1.4375rem;
	}
	.sectionContent {
		@include desktop {
			display: flex;
			justify-content: space-between;
			& > div {
				max-width: 45%;
			}
			.intro h2 {
				font-size: 46px;
				line-height: 62px;
			}
			.intro p {
				font-size: 20px;
				line-height: 26px;
			}
		}
		& > div {
			margin-bottom: 8rem;
		}
		ul {
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		li {
			border-top: 1px solid rgba(255, 255, 255, 0.3);
			border-collapse: collapse;
			a {
				color: white;
				display: flex;
				font-size: 18px;
				justify-content: space-between;
				text-decoration: none;
				&::after {
					content: '→';
					border: 1px solid white;
					border-radius: 50%;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					height: 23px;
					width: 25px;
					margin-left: 4px;
					padding-top: 2px;
				}
			}
		}
	}
}

.intro {
	margin-bottom: 4rem;
	h2 {
		margin-top: 0;
	}
}

// Individual components

.ourTeam,
.hiring {
	background-color: $grey-light;
}

.benefits {
	background-color: black;
	color: white;
}

.contactEmail .sectionContent {
	& > div {
		margin-bottom: 5rem;
	}
	@include desktop {
		display: grid;
		gap: 0 1rem;
		grid-template-columns: repeat(3, 1fr);
	}
}

.postalAddress .sectionContent {
	display: grid;
	gap: 0 1fr;
	grid-template-columns: repeat(12, 1fr);
	// .sectionHeading {
	// 	grid-column: 4 / 8;
	// 	grid-row: 1;
	// }
	& > :first-of-type {
		grid-column: 1 / 4;
	}
	& > :last-of-type {
		grid-column: 5 / 10;
	}
}
