@import './fonts';

@mixin desktop {
	@media (min-width: 720px) {
		@content;
	}
}

@mixin defaultPadding {
	padding: 0.875rem 1.25rem;
	@include desktop() {
		padding: 1.6875rem 7.75rem;
	}
}

%page-header {
	background-color: black;
	border-left: 0.4375rem solid #979797;
	color: white;
	margin: 0;
	padding: 2rem;
	.crumbs {
		color: rgba(255, 255, 255, 0.5);
		font-size: 1rem;

		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	h1 {
		font-size: 2rem;
		font-weight: 500;
		letter-spacing: 1px;
		line-height: 42px;
	}

	@include desktop {
		border-left: 22px solid #979797;
		.crumbs {
			font-size: 26px;
			line-height: 32px;
		}
		h1 {
			font-size: 3.5625rem;
			line-height: 4.625rem;
			margin-bottom: 0;
		}
		padding: 59px 116px 147px;
	}
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.col2 {
	@include desktop() {
		display: flex;
		justify-content: space-between;
		& > div {
			width: 40%;
		}
	}
}

.gradgreenblue {
	background: linear-gradient(
		180deg,
		#3dc55d 30.01%,
		#39c166 46.26%,
		#008cf1 58.72%
	);
	color: white;
	@include desktop() {
		background: linear-gradient(91.06deg, #3dc55d 38.38%, #008cf1 70.07%);
	}
	& > div {
		margin-bottom: 8rem;
	}
}
