@import './fonts';

@mixin desktop {
	@media (min-width: 720px) {
		@content;
	}
}

@mixin defaultPadding {
	padding: 0.875rem 1.25rem;
	@include desktop() {
		padding: 1.6875rem 7.75rem;
	}
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.col2 {
	@include desktop() {
		display: flex;
		justify-content: space-between;
		& > div {
			width: 40%;
		}
	}
}

.gradgreenblue {
	background: linear-gradient(
		180deg,
		#3dc55d 30.01%,
		#39c166 46.26%,
		#008cf1 58.72%
	);
	color: white;
	@include desktop() {
		background: linear-gradient(91.06deg, #3dc55d 38.38%, #008cf1 70.07%);
	}
	& > div {
		margin-bottom: 8rem;
	}
}
